@charset "utf-8";
body {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.section-title::before,
.section-title::after {
  content: "";
  flex-grow: 1;
  border-top: 5px double #B8A36C;
}

.purpose {
  width: 98%;
  background-color: #fff;
  border: 2px double #B8A36C;
  margin-bottom: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1%;
}

.purpose__contents {
  display: flex;
  margin: 0 1%;
}

.purpose__item--restaurant {
  margin-left: 1.3%;
  margin-right: 1%;
}

.purpose__item {
  flex: 1;
  text-align: center;
}

.purpose__link {
  display: block;
}

.purpose_image_hotel{
    width: 101.5%;
    margin-bottom: 10%;
}
.purpose__image_glass{
    width: 101.2%;
    margin-bottom: 10%;
}
.purpose__image_restaurant {
    width: 100%;
    margin-bottom: 10%;
}

.purpose__label {
  display: block;
  margin-top: -5%;
  text-decoration: none;
  color: #000;
}

.insta-section__img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.grape {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -10%;
  padding: 0 5%;
}

.grape__img--fruit {
  width: 20%;
  transform: translateY(-40%);
}

.grape__img--leaf {
  width: 25%;
  transform: translateY(-60%);
}
